<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374016753532-nvvm79ocdjunvqvp6u02tn5mjrcc9hb7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374016753532-nvvm79ocdjunvqvp6u02tn5mjrcc9hb7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>374016753532-22ck6q7rcm3d619obh8h5d9abmqul1bm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyChj5vWYjTgHHD7UZvhmSLMQsHJP_fcOxg</string>
	<key>GCM_SENDER_ID</key>
	<string>374016753532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quangduy.cinema</string>
	<key>PROJECT_ID</key>
	<string>flutter-cinema-31f2f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-cinema-31f2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374016753532:ios:dafb74abbd3fbd1dc76ef9</string>
</dict>
</plist>